.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.header, .explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin: 1rem;
    gap: 10px;
}

.lp select {
    background-color: #3b3b3b;
    font-family: "inter";
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.search p {
    margin-right: 10px;
}

.search input {
    background-color: #3b3b3b;
    font-family: "inter";
    color: white;
    border: none;
    padding: 15px;
}

.search input:nth-child(2) {
    border-radius: 20px 0 0 20px;
}

.search input:focus {
    border: none;
    outline: 0;
}

.search button {
    background-color: #3b3b3b;
    color: white;
    font-family: "inter";
    border: none;
    padding: 15px;
    border-radius: 0 20px 20px 0;
}

.search button:hover {
    cursor: pointer;
    transition: 600ms;
}

.header h1 {
    font-weight: 1000;
    font-size: 60px;
}

.header h2 {
    font-weight: 1000;
    font-size: 20px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.explanation h1 {
    margin-top: 10rem;
    font-weight: 900;
    font-size: 40px;
}